numpy
scipy
matplotlib
pandas
seaborn
tikzplotlib
tensor2tensor==1.15.7
hickle
python_speech_features 
pyyaml 
protobuf>=3.7
typing>=3.6.4
absl-py<0.9,>
tensorflow-probability==0.7
gast==0.2.2
setuptools>=41.0.0
jax
jaxlib
tensorflow==1.15.3
